* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

canvas {
  display: none;
}

input[type="text"], input[type="password"] {
  outline: none;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 16px/1.625em;
  font-family: 'Source Code Pro', 'Caviar Dreams', sans-serif;
  margin: 0;
  padding: 0;
}

label {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 600;
}

h1 {
  font-size: 72px;
  line-height: 0.5em;
  margin-bottom: 0.5em;
}

input {
  -webkit-user-select: text;
  height: 32px;
  font-size: 20px;
  /*border: 2px solid hsl(0, 0%, 25%);*/
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #888888;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  border-radius: 7px;
}

input::-webkit-input-placeholder {
  /*position: relative;
  top: -2px;*/
}

.hidden {
  opacity: 0 !important;
}

.fill-parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.mask-edges {
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(125, 185, 232, 0) 100%);
}

#full-background {
  z-index: -10;
  background-size: cover;
  background-position: center;
  background-color: black;
  background-image: url("/usr/share/backgrounds/login.jpg");
}

.overlay {
  background-color: black;
  z-index: -9;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}

#gradient-overlay {
  background-color: none;
  opacity: .9;
  background: linear-gradient(30deg, transparent 70%, rgba(0, 0, 0, .9) 100%);
}

#clock-and-controls-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}

#big-clock {
  padding: 0 .2em 0 0;
  text-align: right;
  font-size: 5em;
}

#system-controls {
  display: flex;
  padding: 1.3em;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.system-button {
  display: block;
  position: relative;
  top: 0;
  width: 60px;
  object-fit: contain;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transform-origin: center;
}

.system-button:nth-of-type(even) {
  transform: translate(28px, 80%);
}

.system-button:nth-child(n+3) {
  right: -56px;
}

.system-button:nth-of-type(odd):hover {
  transform: scale(1.15, 1.15);
}

.system-button:nth-of-type(even):hover {
  transform: translate(28px, 80%) scale(1.15, 1.15);
}

.system-button:nth-of-type(odd):active {
  transform: scale(0.95, 0.95);
}

.system-button:nth-of-type(even):active {
  transform: translate(28px, 80%) scale(0.95, 0.95);
}

#login-section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
  transition: opacity 0.5s ease-in-out;
}

#login-section-wrapper.hidden {
  user-select: none;
  pointer-events: none;
}

#user-list-wrapper {}

#user-list {
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  -webkit-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
}

.user {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 130px;
  padding: 10px;
  -webkit-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
}

.user.hidden {
  opacity: 1 !important;
}

.user.hidden .user-image, .user.hidden .user-name {
  opacity: 0.25;
}

.user.active .user-image, .user.active .user-name {
  opacity: 1;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
  color: white;
  opacity: 0.7;
  -webkit-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  cursor: default;
}

.user-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 96px;
  height: 96px;
  background-color: hsl(175, 29%, 61%);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  opacity: 0.7;
  cursor: pointer;
}

.user-image:not(.hidden):hover, .user-image:not(.hidden):hover ~ .user-name {
  opacity: 0.85;
}

.user-image.hidden:hover, .user-image.hidden:hover ~ .user-name {
  opacity: 0.35;
}

.user-image.active:hover, .user-image.active:hover ~ .user-name {
  opacity: 1.0;
}

#authentication-wrapper {
  text-align: center;
  padding: 10px;
  -webkit-transition: all 0.6s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.6s cubic-bezier(.24, .59, .46, .93);
}

#authentication-wrapper.hidden {
  user-select: none;
  pointer-events: none;
}

@keyframes authenticating_blink {
  0% { text-shadow: 0 0 3px white; }
  50% { text-shadow: 0 0 8px white; }
  100% { text-shadow: 0 0 3px white; }
}

#password-container {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}

#password-input {
  position: relative;
  transform: translateX(0);
  transition: transform 0.6s ease-in;
  transition-delay: 0;
}

#authentication-wrapper.authenticating #password-input {
  transform: translateX(110%);
}

#authentication-wrapper.error #password-input {
  transition-delay: 0.4s;
}

#password-bits {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  line-height: 30px;
  display: block;
  color: #00e000;
  opacity: 0;
  text-shadow: 0 0 3px white;
}

#authentication-wrapper.authenticating #password-bits {
  animation-name: authenticating_blink;
  animation-duration: 0.07s;
  animation-iteration-count: infinite;
}

#authentication-message {
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  user-select: none;
  pointer-events: none;
}

#authentication-message.error {
  color: hsl(359, 100%, 60%);
}

#authentication-message.active {
  opacity: 1;
}

#session-list-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: .4em;
  text-align: center;
  transition: transform 0.4s ease-in-out;
  transform: translateY(0);
}

#session-list-wrapper.hidden {
  transform: translateY(150%);
  opacity: 1 !important;
  user-select: none;
  pointer-events: none;
}

#session-list {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
}

.session {
  cursor: pointer;
  opacity: 0.50;
  display: inline-block;
  margin: 0 1.5em;
  -webkit-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
  -moz-transition: all 0.3s cubic-bezier(.24, .59, .46, .93);
}

.session.active {
  opacity: 1;
}
